* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.title{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 50%;
}

.buttons{
  text-align: center;
}


button{
  background-color: white;
  color: white;
  align-items: center;
  border-color: white;
  border: 1px solid white;
  margin: 50px;
}

.hide{
  display: none;
}

h1{
  margin-top: 10px;
  size: 200%;
  text-align:center;
}
